In [1]:
# importing Python libraries 
import pandas as pd
import numpy as np
import regex as rg

In [2]:
# loading Data and Viewing Data
Data=pd.read_excel('Healthcare_Dataset.xlsx', index_col=None)

In [3]:
Data.head()

,Location,_Location_latitude,_Location_longitude,_Location_altitude,_Location_precision,Date and Time,Age,Gender,Marital Status,how_many_children_do_you_have__if_any,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
0,-0.2742007 36.058336 1882.2000732421875 20.0,-0.274201,36.058336,1882.200073,20.0,NaT,41-50,Female,Married,2.0,...,230162389,aa30304f-84f2-4c1b-b30a-371241f2ff17,2023-04-05 08:44:06,NaN,NaN,submitted_via_web,NaN,vJ8gEKnN2pccxThc5jnkz4,NaN,1
1,-0.7158125 37.1475058 1361.9000244140625 20.0,-0.715812,37.147506,1361.900024,20.0,2023-05-15 13:38:00,18-30,Male,Single,0.0,...,238299334,63c461e3-b3ef-47cf-9632-0c912a639f46,2023-05-15 10:44:01,NaN,NaN,submitted_via_web,safra_data,vMrCPR7NLZZJrf4PTsQ8uH,NaN,2
2,-0.7158157 37.1475082 1361.9000244140625 20.0,-0.715816,37.147508,1361.900024,20.0,2023-05-15 13:49:00,41-50,Female,Married,5.0,...,238301092,4209a55d-a983-433f-8ce0-bce6cd28d713,2023-05-15 10:51:08,NaN,NaN,submitted_via_web,safra_data,vMrCPR7NLZZJrf4PTsQ8uH,NaN,3
3,-0.7157082 37.14749 1361.9000244140625 20.0,-0.715708,37.147490,1361.900024,20.0,2023-05-15 14:19:00,18-30,Male,Single,NaN,...,238311207,2eba9b13-1706-4faf-b7a7-e45e9dcf48ab,2023-05-15 11:22:19,NaN,NaN,submitted_via_web,safra_data,vMrCPR7NLZZJrf4PTsQ8uH,NaN,4
4,-0.7157337 37.1474799 1361.9000244140625 20.0,-0.715734,37.147480,1361.900024,20.0,2023-05-15 14:30:00,41-50,Male,Married,7.0,...,238314477,1f49cb82-75ff-4391-b69b-973a6ce698ee,2023-05-15 11:33:21,NaN,NaN,submitted_via_web,safra_data,vMrCPR7NLZZJrf4PTsQ8uH,NaN,5

In [5]:
# Data Shape
Data.shape

(6158, 32)

In [7]:
# Data Description
Data.describe()

,_Location_latitude,_Location_longitude,_Location_altitude,_Location_precision,Date and Time,how_many_children_do_you_have__if_any,When was the last time you visited a hospital for medical treatment? (In Months),Your Picture,Your Picture_URL,_id,_submission_time,_validation_status,_notes,_tags,_index
count,5805.000000,5805.000000,5805.000000,5805.000000,6010,5533.000000,6000.000000,0.0,0.0,6.158000e+03,6158,0.0,0.0,0.0,6158.000000
mean,-0.737841,36.715208,1536.439555,71.217272,2023-06-23 12:19:03.484193280,147.165371,6.651875,NaN,NaN,2.482603e+08,2023-06-25 04:21:26.056349440,NaN,NaN,NaN,3079.500000
min,-4.051936,34.092111,-201.295000,0.000000,2023-05-15 08:35:00,0.000000,0.000000,NaN,NaN,2.301624e+08,2023-04-05 08:44:06,NaN,NaN,NaN,1.000000
25%,-1.259315,36.379644,1348.900024,4.100000,2023-06-16 10:18:30,1.000000,2.000000,NaN,NaN,2.469582e+08,2023-06-19 10:27:25.750000128,NaN,NaN,NaN,1540.250000
50%,-0.726425,36.866007,1592.900024,4.820000,2023-06-23 10:22:00,2.000000,4.000000,NaN,NaN,2.486249e+08,2023-06-26 09:56:12.500000,NaN,NaN,NaN,3079.500000
75%,-0.378057,37.146309,1857.600000,7.196000,2023-06-30 15:33:30,3.000000,8.000000,NaN,NaN,2.499817e+08,2023-07-03 13:40:47,NaN,NaN,NaN,4618.750000
max,1.842157,39.692109,2988.477000,4900.000000,2023-07-27 12:00:00,800159.000000,2021.000000,NaN,NaN,2.584794e+08,2023-08-07 09:12:14,NaN,NaN,NaN,6158.000000
std,0.870519,0.866878,494.157138,388.100302,NaN,10757.084650,37.295530,NaN,NaN,2.565886e+06,NaN,NaN,NaN,NaN,1777.805811

In [11]:
# Missing values
Data.isnull().sum()

Location                                                                                                                       353
_Location_latitude                                                                                                             353
_Location_longitude                                                                                                            353
_Location_altitude                                                                                                             353
_Location_precision                                                                                                            353
Date and Time                                                                                                                  148
Age                                                                                                                             18
Gender                                                                                                                          17
Marital Status                                                                                                                  18
how_many_children_do_you_have__if_any                                                                                          625
Employment Status                                                                                                               24
Monthly Household Income                                                                                                       259
Have you ever had health insurance?                                                                                             19
If yes, which insurance cover?                                                                                                2540
When was the last time you visited a hospital for medical treatment? (In Months)                                               158
Did you have health insurance during your last hospital visit?                                                                  56
Have you ever had a routine check-up with a doctor or healthcare provider?                                                      23
If you answered yes to the previous question, what time period (in years) do you stay before having your routine check-up?    4382
Have you ever had a cancer screening (e.g. mammogram, colonoscopy, etc.)?                                                       31
If you answered yes to the previous question, what time period (in years) do you stay before having your Cancer screening?    4593
Your Picture                                                                                                                  6158
Your Picture_URL                                                                                                              6158
_id                                                                                                                              0
_uuid                                                                                                                            0
_submission_time                                                                                                                 0
_validation_status                                                                                                            6158
_notes                                                                                                                        6158
_status                                                                                                                          0
_submitted_by                                                                                                                    1
__version__                                                                                                                      0
_tags                                                                                                                         6158
_index                                                                                                                           0
dtype: int64

In [12]:
# Data columns
Data.columns

Index(['Location', '_Location_latitude', '_Location_longitude',
       '_Location_altitude', '_Location_precision', 'Date and Time', 'Age',
       'Gender', 'Marital Status', 'how_many_children_do_you_have__if_any',
       'Employment Status', 'Monthly Household Income',
       'Have you ever had health insurance?', 'If yes, which insurance cover?',
       'When was the last time you visited a hospital for medical treatment? (In Months)',
       'Did you have health insurance during your last hospital visit?',
       'Have you ever had a routine check-up with a doctor or healthcare provider?',
       'If you answered yes to the previous question, what time period (in years) do you stay before having your routine check-up?',
       'Have you ever had a cancer screening (e.g. mammogram, colonoscopy, etc.)?',
       'If you answered yes to the previous question, what time period (in years) do you stay before having your Cancer screening?',
       'Your Picture', 'Your Picture_URL', '_id', '_uuid', '_submission_time',
       '_validation_status', '_notes', '_status', '_submitted_by',
       '__version__', '_tags', '_index'],
      dtype='object')

In [5]:
# Renaming columns
def rename_columns(Data, old_col_names,new_col_names):
    """
    Renames columns in the dataframe
    arguments:
          Data:the dataframe to rename columns,
          old_col_names: names of the old columns
          new_col_names: names of the new renamed columns

    return Data : returns dataframe with renamed columns
    """
    if len(old_col_names) != len(new_col_names):
        raise ValueError("Number of old columns should be equal to number of new columns")
    mapping={old:new for old, new in zip(old_col_names, new_col_names)}
    Data.rename(columns=mapping, inplace=True)
    return Data
old_col_names=[ 'how_many_children_do_you_have__if_any',
       'Have you ever had health insurance?', 'If yes, which insurance cover?',
       'When was the last time you visited a hospital for medical treatment? (In Months)',
       'Did you have health insurance during your last hospital visit?',
       'Have you ever had a routine check-up with a doctor or healthcare provider?',
       'If you answered yes to the previous question, what time period (in years) do you stay before having your routine check-up?',
       'Have you ever had a cancer screening (e.g. mammogram, colonoscopy, etc.)?',
       'If you answered yes to the previous question, what time period (in years) do you stay before having your Cancer screening?']

new_col_names=['Children','Had_Insurance','Insurance_Company','Last_time_visited_hospital(months)',
               'Had_insurance_in_hospital','Has_checkup_with_doctor',
               'routine_checkup_period(years)','Cancer_screening','Cancer_screening_period(years)']
Data=rename_columns(Data,old_col_names,new_col_names)

In [6]:
# Dropping Unnecessary columns
columns_to_drop=['Your Picture', 'Your Picture_URL', '_id', '_uuid', '_submission_time',
       '_validation_status', '_notes', '_status', '_submitted_by',
       '__version__', '_tags', '_index','Cancer_screening_period(years)','routine_checkup_period(years)']
Data=Data.drop(columns=columns_to_drop)

In [7]:
Data.columns

Index(['Location', '_Location_latitude', '_Location_longitude',
       '_Location_altitude', '_Location_precision', 'Date and Time', 'Age',
       'Gender', 'Marital Status', 'Children', 'Employment Status',
       'Monthly Household Income', 'Had_Insurance', 'Insurance_Company',
       'Last_time_visited_hospital(months)', 'Had_insurance_in_hospital',
       'Has_checkup_with_doctor', 'Cancer_screening'],
      dtype='object')

In [8]:
# Function to clean text columns:
def clean_text_columns(df,columns):
    text_columns=df.select_dtypes(include='object').columns
    for cols in text_columns:
        df[cols]=df[cols].str.strip().str.lower()
    return df
Data=clean_text_columns(df=Data,columns=Data.columns)
print("Text columns cleaned successfully!")

Text columns cleaned successfully!

In [9]:
# Missing values and datatypes
print("Data types:\n",Data.dtypes)
Data.isnull().sum()

Data types:
 Location                                      object
_Location_latitude                           float64
_Location_longitude                          float64
_Location_altitude                           float64
_Location_precision                          float64
Date and Time                         datetime64[ns]
Age                                           object
Gender                                        object
Marital Status                                object
Children                                     float64
Employment Status                             object
Monthly Household Income                      object
Had_Insurance                                 object
Insurance_Company                             object
Last_time_visited_hospital(months)           float64
Had_insurance_in_hospital                     object
Has_checkup_with_doctor                       object
Cancer_screening                              object
dtype: object

Location                               353
_Location_latitude                     353
_Location_longitude                    353
_Location_altitude                     353
_Location_precision                    353
Date and Time                          148
Age                                     18
Gender                                  17
Marital Status                          18
Children                               625
Employment Status                       24
Monthly Household Income               259
Had_Insurance                           19
Insurance_Company                     2540
Last_time_visited_hospital(months)     158
Had_insurance_in_hospital               56
Has_checkup_with_doctor                 23
Cancer_screening                        31
dtype: int64

In [10]:
# parsing date columns
Data['Date and Time']=pd.to_datetime(Data['Date and Time'], errors='coerce')

# Handling missing values in date columns
Data['Date and Time']=Data['Date and Time'].bfill()
Data['Date and Time']=Data['Date and Time'].dt.date

# fillna in gender , marital status and employment status
Data[['Gender','Age','Marital Status','Employment Status','Monthly Household Income']]=\
    Data[['Gender','Age','Marital Status','Employment Status','Monthly Household Income']].fillna('Not Provided')

In [11]:
# cleaning Insurance columns
# A function to clean insurance cover column
Data['Had_Insurance ']=Data['Had_Insurance'].fillna('unknown')

def clean_insurance_cover(row):
    Have_insurance = str(row['Had_Insurance']).strip().lower()
    Insurance_company = row['Insurance_Company']  # Leave as-is for pd.isna()

    if Have_insurance == 'unknown':
        return 'Unknown'
    elif Have_insurance == 'no':
        return 'No Insurance'
    elif Have_insurance == 'yes':
        if pd.isna(Insurance_company) or str(Insurance_company).strip().lower() in ['nan', '', 'none', 'not provided']:
            return 'Not Specified'
        else:
            return Insurance_company
    else:
        return np.nan  # fallback for unexpected values
Data['Insurance_Company'] = Data.apply(clean_insurance_cover, axis=1)

In [13]:
Data.isnull().sum()

Location                              353
_Location_latitude                    353
_Location_longitude                   353
_Location_altitude                    353
_Location_precision                   353
Date and Time                           0
Age                                     0
Gender                                  0
Marital Status                          0
Children                              625
Employment Status                       0
Monthly Household Income                0
Had_Insurance                          19
Insurance_Company                      19
Last_time_visited_hospital(months)    158
Had_insurance_in_hospital              56
Has_checkup_with_doctor                23
Cancer_screening                       31
Had_Insurance                           0
dtype: int64

In [13]:
Data.dtypes

Location                               object
_Location_latitude                    float64
_Location_longitude                   float64
_Location_altitude                    float64
_Location_precision                   float64
Date and Time                          object
Age                                    object
Gender                                 object
Marital Status                         object
Children                              float64
Employment Status                      object
Monthly Household Income               object
Had_Insurance                          object
Insurance_Company                      object
Last_time_visited_hospital(months)    float64
Had_insurance_in_hospital              object
Has_checkup_with_doctor                object
Cancer_screening                       object
Had_Insurance                          object
dtype: object

In [14]:
# Handling numerical data
Data['Age'].unique()

array(['41-50', '18-30', '31-40', '51-60', '60+', 'Not Provided'],
      dtype=object)

In [15]:
# flag to mark which row children are missing
Data['Chldren_Missing']=Data['Children'].isnull().astype(int)
# Group by Age range and fill with median number of children per group
Data['Children']=Data.groupby('Age')['Children'].transform(lambda x:x.fillna(x.median() if not np.isnan(x.median()) else Data['Children'].median()))

In [16]:
# Handling Categorical columns
categorical_cols=['Had_Insurance','Last_time_visited_hospital(months)',
                  'Had_insurance_in_hospital','Has_checkup_with_doctor','Cancer_screening']
for cols in categorical_cols:
    Data[cols].fillna(Data[cols].mode()[0],inplace=True)

# Handling numerical location cols
Data.dropna(subset=['Location', '_Location_latitude', '_Location_longitude',
       '_Location_altitude', '_Location_precision'],inplace=True)

C:\Users\ANTONIO\AppData\Local\Temp\ipykernel_7964\3398103197.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Data[cols].fillna(Data[cols].mode()[0],inplace=True)

In [17]:
Data.columns

Index(['Location', '_Location_latitude', '_Location_longitude',
       '_Location_altitude', '_Location_precision', 'Date and Time', 'Age',
       'Gender', 'Marital Status', 'Children', 'Employment Status',
       'Monthly Household Income', 'Had_Insurance', 'Insurance_Company',
       'Last_time_visited_hospital(months)', 'Had_insurance_in_hospital',
       'Has_checkup_with_doctor', 'Cancer_screening', 'Had_Insurance ',
       'Chldren_Missing'],
      dtype='object')

In [18]:
Data.isnull().sum()

Location                               0
_Location_latitude                     0
_Location_longitude                    0
_Location_altitude                     0
_Location_precision                    0
Date and Time                          0
Age                                    0
Gender                                 0
Marital Status                         0
Children                               0
Employment Status                      0
Monthly Household Income               0
Had_Insurance                          0
Insurance_Company                     16
Last_time_visited_hospital(months)     0
Had_insurance_in_hospital              0
Has_checkup_with_doctor                0
Cancer_screening                       0
Had_Insurance                          0
Chldren_Missing                        0
dtype: int64

In [ ]:
# Saving new cleaned Data to csv
Data.to_csv("Cleaned HealthCare Data.csv",index=False)
print("Cleaned HealthCare Data Saved Successfully!")